* {
    box-sizing: border-box;
  }

a {
    color: #444444;
    text-decoration: none; 
}

body {
    background-image: url("../images/white-waves.png");
    min-height: 100vh;
    }

p {
    color: #777777;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    }
header {
    width: 100%;
    margin: auto;
    background-color: #ffffff;
      font-family: 'Georgia', Times, Times New Roman, serif;
   position: fixed;
    }

#name-box {
    background-color: #4aaaa5;
    color: #ffffff;
    width:340px;
    float: left;
    text-align: center;
    margin-left: 20px;
    }

#nav-container {
    float: right;
    margin-right: 30px;
    text-align: center;
    padding: 30px;

    }

#contact-button {
    float: right;
    width: 33%
    }
#portfolio-button {
    float: center;
    width: 33%
    }
#about-button {
    float: left;
    width: 33%
    }





.wrapper {
    clear: both;
    height: 100%;
    padding-top:150px;
   


    }

.container {
    
    width: 960px;
    padding: 10px;
    background-color: #ffffff;
    border: solid 1px #dddddd;
    height: 80%;
    margin: 0 auto;



    }
footer {
    background-color: #666666;
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    
    }
 
/* page-specific styles for index.html */

#biotext {
    font-size: 18px;

    }
#biopic { 
    margin: 10px 20px 0px 20px;
    float: left;
    }

/* page-specific styles for contact.html */

#namebox {
border: 1px solid black;
display: block;
color: grey;
width: 80%;
padding: 5px;
}

#emailbox {
border: 1px solid black;
display: block;
color: grey;
width: 80%;
padding: 5px;
}

#messagebox {
border: 1px solid black;
display: block;
color: grey;
width: 80%;
padding: 5px;
height: 50px;
}


/* page-specific styles for portfolio.html */


.portfolio img{
    width: 200px;
    float: left;
    margin: 20px;
    border: 1px;
    position: relative;


}

.portfolio {
    opacity: 0.75;
    display: inline-block;
}

.portfolio h3 {
    background-color:  #4aaaa5;
    padding: 5px;
    position: absolute;
    margin-bottom: 30px;
}
